{% extends "liq_inventory/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>

{% endblock %}

{% block app_content %}

<h1>Gravel Liquefaction Locations</h1>
<hr>

<p> The map shown below displays all of the sites where gravel liquefaction is known to have occured.</p>
<hr>

<div id="mapid"></div>

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<style>
#mapid {
    height: 600px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
</style>

<script>
var mymap = L.map('mapid').setView([40.52, -111.86], 1.5);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoibmxpbnRvbjI0IiwiYSI6ImNrNnUwcnRidTA1Mzkza3FwaDM1aTRocm8ifQ.mqo3juol2aCkmaremutQDQ'
}).addTo(mymap);

 var layer = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-d5a195a8b0ca4453858ca00253c1129b/wms?', {
            layers: 'GravelLiquefactionLocations',
            format: 'image/png',
            transparent: true,
        }).addTo(mymap);

</script>


{% endblock %}


{% block app_actions %}

{% endblock %}
